.part2{
    /* background-image:url("../Render/Register as a Employee/icon.svg"); */
    height: 100vh;
    background-color: #6f18e1;
}
.part1 .button{
    background-color: #6f18e1;
    color: white;
    width: 500px;
    border-radius: 17px;
    border: none;
    padding: 10px;
    font-weight: bold;
}